@font-face{
    font-family: Colorado;
    src: url("Fuentes/colorado.otf");
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 97%;
    background-image: url("Imagenes/fondoCrearSala.jpg");
    background-size: 100% 100%;
}
.centrado{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25pt;
    color: rgb(75, 68, 68)
}
.crearSalaTitulo{
    margin-top: 170px;
    margin-bottom: 0px;
    font-family: Colorado;
    font-size: 75pt;
    color: white;
    text-align: center;
}
.selects{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    background-color: rgb(255, 255, 255, .9);
    border: none;
    color: rgb(117, 115, 115);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    margin-left: 3px;
    width: 260px;
    max-height: 140px;
}
#numRondas{
    width: 166px;
}
.codigoCont{
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 70px;
}
.codigo{
    margin-left: 3px;
}
.numRondasCont{
    display: flex;
    align-items: center;
    height: 70px;
}
.temasCont{
    display: flex;
    align-items: center;
    /* height: 70px; */
}
.continuarbtn{
    text-decoration: none;
    font-size: 30pt;
    font-family: Colorado;
    color: #FFF;
    background-color: rgb(4, 144, 187);
    padding: 3px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 25px;
    border: 1px solid #000;
    border-radius: 5px;
}
.parteCentral {
    display: block;
    width: 50px;
    padding: 0 10px;
    text-align: center;
    line-height: 0;
}

.parteCentral button {
    background: #0490bb;
    border: 0;
    color: #FFF;
    cursor: pointer;
    border: 1px solid #000;
    margin: 15px 0px;
    border-radius: 5px;
}
.ladoDerecho .selects {height: 150px;}
.sinmargen{
    margin: 0;
    margin-bottom: 5px;
    font-size: 23px;
}
.codigoCont input {
    padding: 7px 15px;
    font-size: 17px;
    border-radius: 6px;
    border: 0;
    background: rgb(255 255 255 / 90%);
    outline: none;
    margin-left: 15px;
}